.row{
    padding: 0px;
}
div{
    padding-right: 0px;
}

app-social{
    float: right;
    margin-top: 25px;
}
app-banner {
    background-color: white;
}

.spectrum-background {
    background:
        linear-gradient(lightblue, transparent),
        linear-gradient(to top left, rgb(21, 163, 199), transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
}