<div class="container" *ngIf="hardsoft">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE">Nombre de la hard o soft skill</label>
                    <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="hardsoft.nombreH" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Porcentaje de la hard o soft skill</label>
                    <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="hardsoft.descripcionE" required>
                </div>
                <div class="form-group">
                    <label for="iconoH">Icono de la Hard o Soft Skill (buscar en <a href="https://icons.getbootstrap.com/">https://icons.getbootstrap.com/</a></label>
                    <input type="text" class="form-control" id="iconoH" name="iconoH" [(ngModel)]="hardsoft.iconoH" required>
                </div>
                <button class="btn btn-primary">
                    Editar educacion
                </button>
                <button class="btn btn-danger" (click)="cancel()">
                    Cancelar
                </button>
            </form>
        </div>
    </div>
</div>
