<div class="row">
    <h1>Hard Skills & Soft Skills</h1>
    <div>
        <button type="button" class="btn btn-dark" routerLink="/nuevahyss" *ngIf="isLogged">
            <i class="bi bi-plus-circle-fill"></i>
        </button>
    </div>
    <div class="container">
    <div class="row" *ngFor="let Hardsofts of hardsoft">
        <div class="col-10 progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                attr.style="width:{{Hardsofts.descripcionE}}%" role="progressbar" aria-label="Basic example"
                attr.aria-valuenow="{{Hardsofts.descripcionE}}" aria-valuemin="0" aria-valuemax="100">
                {{Hardsofts.nombreH}}</div>
        </div>
        <div class="col align-self-center">
            <button *ngIf="isLogged" class="btn btn-dark" style="float:right" routerLink="/edithyss/{{Hardsofts.id}}">
                <i class="bi bi-pencil-fill"></i></button>
            <button *ngIf="isLogged" class="btn btn-danger" style="float:right" (click)="delete(Hardsofts.id)">
                <i class="bi bi-trash-fill"></i></button>
        </div>
    </div>
</div>
</div>