<div class="row spectrum-background">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" style="background-color: transparent;">
        <img src="../../../assets/fotodeperfil.jpg" img="img-fluid" id="profilePic" alt="Imagen de Perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" style="background-color: transparent;">
        <p id="name">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="title">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 align-self-center" style="background-color: transparent;">
            <h1>Acerca de mí</h1>
            <p>Soy Licenciado en Educación Física recibido en la Universidad Nacional de Rosario (UNR). Soy una persona proactiva, responsable, con buenas relaciones interpersonales, que se adapta con facilidad a diferentes entornos. Quisiera incorporarme a una entidad que me permita aplicar los conocimientos aprendidos y contribuir con mi dedicación y compromiso.</p>
    </div>
  </div>
  