     .row{
        padding: 20px;
      }
      div{
        text-align: left;
      }
      #name{
        font-weight: bold;
        margin-top: 30%;
        text-align: center;
        align-self: center;
      }
      #title{
        font-weight: bold;
        text-align: center;
        align-self: center;
      }
      
      @media (min-width: 576px){
        #profilePic{
            width: 100%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px black;
        }
      }
      @media (max-width: 575px){
        #profilePic{
            width: 100%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px black;
        }
      }
      .btn {
        margin: 5px;
    }