<div>
    <a href=""><i class="bi bi-instagram" style="font-size: 3rem; color: black"></i></a>
    <a href=""><i class="bi bi-github" style="font-size: 3rem; color: black"></i></a>
    <a href=""><i class="bi bi-linkedin" style="font-size: 3rem; color: black"></i></a>
    <button type="button" class="btn btn-outline-dark btn-padding-x btn-padding-y" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
    <button type="button" class="btn btn-outline-dark btn-padding-x btn-padding-y" (click)="onLogOut()"*ngIf="isLogged">CERRAR SESION</button>
</div>