<div class="row">
    <h1>Experiencia laboral</h1>
    
    <div>
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            <i class="bi bi-plus-circle-fill"></i>
        </button>
        </div>

        <div class="card shadow m-4" style="width: 18rem;" *ngFor="let Experiencia of expe">
            <img src="{{Experiencia.urlE}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">{{Experiencia.nombreE}}</h3>
              <h5 class="card-subtitle">{{Experiencia.aniosE}} años de experiencia</h5>
              <p class="card-text">{{Experiencia.descripcionE}}</p>
              <div class="text-end">
              <button *ngIf="isLogged" class="btn btn-dark" routerLink="/editexp/{{Experiencia.id}}">
                    <i class="bi bi-pencil-fill"></i></button>
                <button *ngIf="isLogged" class="btn btn-danger" (click)="delete(Experiencia.id)">
                    <i class="bi bi-trash-fill"></i></button>
                </div>
            </div>
          </div>