    <div class="row">
        <h1>Experiencia</h1>
        <div class="row">
        <div class="col-lg-1">
            <img src="../../../assets/unl.png" class="imgUnl" alt="logoUnl">
        </div>
        <div class="col-lg-11">
            <ul style="list-style: none;">
                <li>
                    <h1>Profesor de Tenis de Mesa</h1>-<h3> 7 Años</h3>
                </li>
                <p>
                    Profesor de Tenis de Mesa en el predio UNL-ATE con horas cátedras a cargo. Direccion de torneos de tenis de mesa incluidos los JUAR año 2016,JUR 2019 y JUR 2022 en la Universidad Nacional del Litoral. Participación como docente a cargo del grupo en los JUR (Juegos Universitarios Regionales) con el equipo de Tenis de Mesa de la UNL.
                </p>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">
            <img src="../../../assets/unl.png" class="imgUnl" alt="logoUnl">
        </div>
        <div class="col-lg-11">
            <ul style="list-style: none;">
                <li>
                    <h1>Profesor de Basquet</h1>-<h3>4 Años</h3>
                </li>
                <li>
                <p>
                    Profesor de Basquetbol del Club Kimberley, de la ciudad de Santa Fe, en las categorías U13 y U15.
                    Profesor de Basquetbol de UNL de la categoria Premini (9 y 10 años).
                </p>
            </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1">
            <img src="../../../assets/beavercreeklogo.jpeg" class="imgBC" alt="logoUnl">
        </div>
        <div class="col-lg-11">
            <ul style="list-style: none;">
                <li>
                    <h1>Trabajo como Mesero</h1>-<h3>4 Años</h3>
                </li>
                <li>
                <p>
                    Atención al público, bartender y manejo de caja en el Restaurante 8100 Mountside Bar & Grill, ubicado en Beaver Creek, CO, Estados Unidos por las temporadas de invierno (13/14,15/16 y 16/17).
                </p>
            </li>
            </ul>
        </div>
    </div>
    </div>