.row{
    padding: 20px;
}
h1,h3 {
    display: flex;
}
.card{
    padding: 10px;
    align-items: center;
    display: inline;
    transition: all 0.2s ease;
    background-color: #81b3e6;
    border: 0.5px;
}

.card:hover{

    box-shadow: 5px 6px 6px 2px;
    transform: scale(1.1);
}

.btn {
    margin: 5px;
}

