<div class="row">
    <h1>Experiencia laboral</h1>
    
    <div>
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
        </div>

        <div class="row">
                  <div class="card border-dark mb-1 shadow rounded m-4" *ngFor="let Experiencia of expe" style="max-width: 18rem; padding: 1em;">
                    <div class="card-body">
                      <h5 class="card-title">{{Experiencia.nombreE}}</h5>
                      <p class="card-text">{{Experiencia.descripcionE}}</p>
                  <button *ngIf="isLogged" class="btn btn-dark" routerLink="/editexp/{{Experiencia.id}}">
                    <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    <button *ngIf="isLogged" class="btn btn-danger" (click)="delete(Experiencia.id)">
                    <i class="bi bi-trash-fill"></i> BORRAR</button>
                </div>
            </div>
        </div>