<div class="row">
    <h1>Proyectos</h1>
    <div class="row">
    <div class="col-lg-1 proyecto">
      <img src="../../../assets/logo yo programo.png" class="img-fluid imgap"  alt="Imagen de Argentina Programa">
    </div>
    <div class="col-lg-11 proyecto">
        <ul style="list-style: none;">
          <li><h1> <a href="https://github.com/paulsalary/proyectofinal_SueldoPabloDaniel">Argentina Programa</a></h1> <h4>2022</h4>
            <p>Portfolio de #YoProgramo</p>
        </li>
          </ul>
    </div>
  </div>
  </div>