<!-- <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" alt="" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Sueldo Pablo Daniel</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi:</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio quaerat explicabo ipsa doloribus iure architecto, enim odio rerum, ex nostrum possimus mollitia adipisci eaque doloremque quisquam consectetur, eius sequi itaque.</p>
        </span>
    </div>
</div> -->

<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotodeperfil.jpg" class="img-fluid" id="profilePic" alt="Imagen de Perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">Sueldo Pablo Daniel</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias molestias incidunt quos dolores quam nihil tempore consequatur? A tempore, et modi rerum, illum earum sapiente expedita vel incidunt repellat error!</p>
          </span>
    </div>
</div>
  