     .row{
        padding: 20px;
      }
      div{
        background-color: #1269c7;
        text-align: left;
      }
      #name{
        font-weight: bold;
        margin-top: 30%;
        text-align: center;
      }
      #title{
        font-weight: bold;
        text-align: center;
      }
      
      @media (min-width: 576px){
        #profilePic{
            position: absolute;
            width: 15%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px black;
            left: 10%;
            top: 65%;
        }
      }
      @media (max-width: 575px){
        #profilePic{
            position: absolute;
            width: 33%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px black;
            left: 33%;
            top: 78%;
        }
      }