<div class="row">
    <h1>Educacion</h1>

    <div>
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
            <i class="bi bi-plus-circle-fill"></i>
        </button>
    </div>

    <div class="card" *ngFor="let Educacion of educacion">
        <div class="card-header">
            {{Educacion.nombreE}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{Educacion.nombreE}}</h5>
          <p class="card-text">{{Educacion.descripcionE}}</p>
          <div class="text-end">
            <button *ngIf="isLogged" class="btn btn-dark" routerLink="/editedu/{{Educacion.id}}">
                  <i class="bi bi-pencil-fill"></i></button>
              <button *ngIf="isLogged" class="btn btn-danger" (click)="delete(Educacion.id)">
                  <i class="bi bi-trash-fill"></i></button>
              </div>
        </div>
      </div>