<div class="row">
    <h1>Educacion</h1>
        <div class="row">
        <div class="col-lg-1">
            <img src="../../../assets/logounr.jpeg" class="imgUnr" alt="logoUnr">
        </div>
        <div class="col-lg-11">
            <ul style="list-style: none;">
                <li>
                    <h1>Carrera de Grado</h1>-<h3> 7 Años</h3>
                </li>
                <p>
                    Licenciatura de Educación Física de la Universidad Nacional de Rosario. Estado: en proceso de elaboración de Trabajo final. Director: Lic. Gabriel Fessia
                </p>
            </ul>
        </div>
    </div>
    <div class="row">
    <div class="col-lg-1">
        <img src="../../../assets/logoIsef.jpeg" class="imgIsef" alt="logoIsef">
    </div>
    <div class="col-lg-11">
        <ul style="list-style: none;">
            <li>
                <h1>Estudios Terciarios</h1>-<h3>4 Años</h3>
            </li>
            <li>
            <p>
                Profesor de Educación Física ISEF N°27 “Profesor Cesar Vásquez” de la ciudad de Santa Fe.
            </p>
        </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-1">
        <img src="../../../assets/logoEneba.jpeg" class="imgEneba" alt="logoEneba">
    </div>
    <div class="col-lg-11">
        <ul style="list-style: none;">
            <li>
                <h1>Estudios extras</h1>-<h3>4 Años</h3>
            </li>
            <li>
            <p>
                Entrenador Nacional de Basquetbol ENEBA nivel II
            </p>
        </li>
        </ul>
    </div>
</div>
</div>