.row{
    padding: 10px;
}

.card{
    padding: 10px;
    margin: 10px;
    transition: all 0.2s ease;
    background-color: #B6D0E2;
    border: 0.5px;
    width: 30%;
}

.card:hover{

    box-shadow: 5px 6px 6px 2px;
    transform: scale(1.1);
}

.btn {
    margin: 5px;
}
