<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE">Nombre de la institucion</label>
                    <input type="text" class="form-control-lg" id="nombreE" name="nombreE" [(ngModel)]="nombreE" required>
                </div>
                <div class="form-group">
                    <label for="descripcionE">Descripcion de sus estudios</label>
                    <input type="text" class="form-control" rows="3" id="descripcionE" name="descripcionE" [(ngModel)]="descripcionE" required>
                </div>
                <div class="form-group">
                    <label for="tituloE">Nombre del título</label>
                    <input type="text" class="form-control" rows="3" id="tituloE" name="tituloE" [(ngModel)]="tituloE" required>
                </div>
                <button class="btn btn-primary">
                    Agregar educacion
                </button>
                <button class="btn btn-danger" (click)="cancel()">
                    Cancelar
                </button>
            </form>
        </div>
    </div>
</div>